body{
    background-color: black;
}
h1{
    color: aliceblue;
    font: size 300px;
    position: center;
}
a{
    color: aliceblue;
    size: 50px;
    text-decoration: none; 
}
ul li{
    position: relative;
    list-style: none;
}
.wp{
    height: 160px;
    width: 160px;
}
/*
 ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
*/
 ul li a
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
 ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.75s;
    color: var(--clr);
}
ul li:hover a .icon
{
    transform: translateY(-30px);
}
 ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
 ul li:hover a .text
{
    opacity: 1;
    transform: translateY(10px);
}
/*barrazinha lateral pika*/
body::-webkit-scrollbar {
    width: 12px;               /* largura da barra inteira */
  }
  
  body::-webkit-scrollbar-track {
    background: #000;        /* cor do fundo da barra */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fff;    /* cor do baguio q vai pra cima e pra baixo sla esqueci o nome */
    border-radius: 20px;       /* tamanho da borda dessa porra */
    border: 3px solid #fff;  /* cor da borda */
  }
  /*
*/
button{
    border-radius: 10px;
    background-color: red;
}
button a{
    background-color: red;
}